In [1]:
import pandas as pd
from matplotlib import pyplot
import seaborn as sns

In [4]:
xgb_rate_df = pd.DataFrame(pd.read_csv("encoded_data/select_sample_data_rate_xgb.csv"))
lgbm_rate_df = pd.DataFrame(pd.read_csv("encoded_data/select_sample_data_rate_lgbm.csv"))

In [7]:
xgb_rate_df.head()

,year,duration,votes,budget,day,language_English,language_Spanish,language_French,language_Russian,language_German,...,actor_Queen Latifah,actor_Demián Bichir,actor_Natascha McElhone,actor_Johnathon Schaech,actor_Emily Watson,actor_Michael Angarano,actor_Kate Mara,actor_Diane Kruger,actor_Vanessa Hudgens,actor_Michael Ealy
0,1920,76,55601,18000,58,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1921,150,3058,800000,106,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1921,68,109038,250000,330,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1923,82,4735,351000,157,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1925,95,97480,923000,296,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0